<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<meta name="description" content="">
	<meta name="author" content="">
	<title>scan</title>
		<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> 
	 <script src='/bower_components/jquery/dist/jquery.min.js'></script>
	 <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/libs/js/barcode.js"></script> 
</head>
<body>
	<div class="container-fluid" >
		<form class="form-inline" role="form" style="margin:0px auto; max-width:350px; padding:50px 0">
			<div class="form-group" id="scannerForm">
				<input type="file" id="code" webkitdirectory directory style="margin:10px 0"> 
				<button class="btn btn-primary" id="scan">Scan</button>
			</div>
		</form>
		<img id="loading" style="display:none; margin:0 auto" src="/libs/images/loading.gif"/>


		<ul class="row">
			<hr>
			<li class="col-md-12 col-xs-12">
				<span class="col-md-6 col-xs-6">File Name</span>
				<span class="col-md-6 col-xs-6">Button</span>
			</li>
			<br>
		</ul>
		<ul class="row" id="resultWrapper">
		</ul>
	</div>
</body>
</html>